@CHARSET "ISO-8859-1";
body{
    background-color: #2785b1;
}
.error {
	color:red;
	font-size:20px;
	margin:3px;
}
#login_form {
		border-style: inset;
        font-size: 24px;
		text-align: center;
        color: #d4af37;
        background: #0f318a;
        border-style: inset 2px white;
        margin-top:3%;
        margin-left:30%;
        margin-right:30%;
}
.formme {
	text-align: center;
}
#Title{		
	text-align: center;
	font-size: 90px;
    color:#d4af37;
    font-family: Georgia;
}
#login_label {
	font-weight: bold;
	font-size: 100%;
	font-family: Consolas, monaco, monospace;
	text-align: center;
}
#tables{
	margin: 0 auto;
	display: inline-block;
}
#login_label {
	font-weight: bold;
	font-size: 100%;
	font-family: Consolas, monaco, monospace;
	text-align: center;
}
#login_table_container {
	text-align: center;
}
#tables{
	margin: 0 auto;
	display: inline-block;
}
#discription{
	background: #2785b1;
	margin-left:10%;
	margin-right:10%;
	color: #d4af37;
	font-size: 50px;
}
input {
	color: #d4af37;
	background-color: #2785b1;
	border: #0f0c45;
	margin:10px;
}
input:hover {
	background-color:#227197;
}