@CHARSET "ISO-8859-1";
body, input, button{
	background-color: blue;
	color: #d4af37;
}

.titler {
	color: #d4af37;
	font-size: 30px;
	text-align: center;
	margin-left: 500px;
	margin-right: 500px;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
input {
	font-size:15px;
	border: black 2px solid;
}
button{
	border: blue;
}
.links{
	background: 
	radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.15) 30%, rgba(255,255,255,.3) 32%, rgba(255,255,255,0) 33%) 0 0,
	radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.3) 13%, rgba(255,255,255,0) 14%) 0 0,
	radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 17%, rgba(255,255,255,.43) 19%, rgba(255,255,255,0) 20%) 0 110px,
	radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) -130px -170px,
	radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) 130px 370px,
	radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.2) 13%, rgba(255,255,255,0) 14%) 0 0,
	linear-gradient(45deg, #343702 0%, #184500 20%, #187546 30%, #006782 40%, #0b1284 50%, #760ea1 60%, #83096e 70%, #840b2a 80%, #b13e12 90%, #e27412 100%);
	position:absolute;
	
	top: 30px;
	left: 20px;
	padding: 5px;
}
.logey{
	background: 
	radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.15) 30%, rgba(255,255,255,.3) 32%, rgba(255,255,255,0) 33%) 0 0,
	radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.3) 13%, rgba(255,255,255,0) 14%) 0 0,
	radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 17%, rgba(255,255,255,.43) 19%, rgba(255,255,255,0) 20%) 0 110px,
	radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) -130px -170px,
	radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) 130px 370px,
	radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.2) 13%, rgba(255,255,255,0) 14%) 0 0,
	linear-gradient(45deg, #343702 0%, #184500 20%, #187546 30%, #006782 40%, #0b1284 50%, #760ea1 60%, #83096e 70%, #840b2a 80%, #b13e12 90%, #e27412 100%);
	position:absolute;
	position: absolute;
	top: 30px;
	right: 20px;
	padding: 5px;
}
.searchy {
	position: absolute;
	top: 10px;
	left: 465px;
}
.posty {
	position: absolute;
	top: 100px;
	left: 460px;
}
.postyy {
	position:absolute;
	top: 76px;
}
.showy {
	position:absolute;
	top: 76px;
	left: 300px;
}
.commenty {
	position:absolute;
	top: 200px;
	left: 460px;
}
td#texter {
	border: 3px solid black;
	padding: 28px;
}
td#remover {
	position: absolute;
	margin-top: 4px;
	right: 7px;
}
td#liker {
	position: absolute;
	margin-top: 4px;
	right: 328px;
}
td#likertext {
	position: absolute;
	margin-top: 6px;
	right: 310px;
}
td#flagger {
	position: absolute;
	margin-top: 5px;
	right: 7px;
}}}}